body {
    background-color: powderblue;
  }

h1 {
    color: blue;
}
#Portada {
    float:center;
    width: 100%;
    height: wrap;
    flex-wrap: wrap;
    background-color: gray; 
}
#Secciones{
    float:center;
    width: 100%;
    height: wrap;
    background-color: gray; 
}
.a {
    width: 40%;
    height: 400px;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    float: left;
    border: 1px solid blue;    
    background-color: yellow;
    align-items: center;
    text-align: center;
}

.b {
    width: 300px;
    height: 500px;
    padding: 5px;
    float: left;
    border: 1px solid blue;    
    background-color: yellow; 
}
.nav-item{
    float: right;
}
#linkJ{
    float: right;
}